# CONFIG_BATTERY_SAMSUNG_LEGO_STYLE is not set
CONFIG_BATTERY_SAMSUNG_V2=y
# CONFIG_CAMERA_AAS_V51 is not set
CONFIG_CAMERA_ACT_DW9808_OBJ=y
# CONFIG_CAMERA_ACT_DW9817_OBJ is not set
CONFIG_CAMERA_ATS_V04=y
# CONFIG_CAMERA_CIS_3L6_OBJ is not set
CONFIG_CAMERA_CIS_4HA_OBJ=y
CONFIG_CAMERA_CIS_5E9_OBJ=y
# CONFIG_CAMERA_CIS_GC5035_OBJ is not set
# CONFIG_CAMERA_CIS_GM2_OBJ is not set
# CONFIG_CAMERA_CIS_GW1_OBJ is not set
# CONFIG_CAMERA_CIS_HI1336_OBJ is not set
# CONFIG_CAMERA_CIS_HI2021Q_OBJ is not set
# CONFIG_CAMERA_CIS_IMX582_OBJ is not set
# CONFIG_CAMERA_CIS_IMX616_OBJ is not set
# CONFIG_CAMERA_CIS_IMX682_OBJ is not set
# CONFIG_CAMERA_FLASH_S2MU106_OBJ is not set
# CONFIG_CAMERA_FLASH_SM5713_OBJ is not set
# CONFIG_CAMERA_FXT_V41 is not set
# CONFIG_CAMERA_MMS_V21 is not set
# CONFIG_CAMERA_MMS_V31 is not set
# CONFIG_CAMERA_MMS_V31S is not set
# CONFIG_CCIC_AUTO_PPS is not set
# CONFIG_CCIC_S2MU106 is not set
CONFIG_CCIC_SM5713=y
CONFIG_CHARGER_SM5713=y
# CONFIG_DC_VIBRATOR is not set
# CONFIG_DISPLAY_USE_INFO is not set
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_EPEN_WACOM_W9019=y
CONFIG_EXTCON=y
# CONFIG_EXTCON_ADC_JACK is not set
# CONFIG_EXTCON_ARIZONA is not set
# CONFIG_EXTCON_GPIO is not set
CONFIG_EXTCON_MADERA=y
CONFIG_EXTCON_MADERA_INPUT_EVENT=y
# CONFIG_EXTCON_MAX3355 is not set
# CONFIG_EXTCON_RT8973A is not set
# CONFIG_EXTCON_SM5502 is not set
# CONFIG_EXTCON_USB_GPIO is not set
# CONFIG_EXYNOS_DECON_LCD_EA8076_M31 is not set
# CONFIG_EXYNOS_DECON_LCD_EA8076_M31S is not set
CONFIG_EXYNOS_DECON_LCD_HX83102E_GTA4XL=y
# CONFIG_EXYNOS_DECON_LCD_S6E3FA9_A51 is not set
# CONFIG_EXYNOS_DECON_MDNIE is not set
# CONFIG_EXYNOS_DOZE is not set
# CONFIG_EXYNOS_HDR_TUNABLE_TONEMAPPING is not set
# CONFIG_EXYNOS_HIBERNATION is not set
# CONFIG_FUELGAUGE_S2MU106 is not set
CONFIG_FUELGAUGE_SM5713=y
CONFIG_GENERIC_PINCONF=y
CONFIG_GPIO_MADERA=y
CONFIG_GPS_BCM4753=y
CONFIG_GPS_BCMxxxxx=y
CONFIG_HICCUP_CHARGER=y
# CONFIG_HMX_DB is not set
CONFIG_INPUT_WACOM=y
CONFIG_ISDBT=y
# CONFIG_ISDBT_FC8180_SPI is not set
# CONFIG_ISDBT_FC8300_SPI is not set
CONFIG_ISDBT_FC8350_SPI=y
# CONFIG_ISDBT_FC83X7_SPI is not set
# CONFIG_LEDS_SM5713 is not set
# CONFIG_LEDS_SM5713_RGB is not set
CONFIG_MADERA_IRQ=y
# CONFIG_MFD_CS35L41 is not set
# CONFIG_MFD_CS35L41_I2C is not set
CONFIG_MFD_CS47L15=y
CONFIG_MFD_MADERA=y
CONFIG_MFD_MADERA_SPI=y
# CONFIG_MFD_S2MU106 is not set
CONFIG_MFD_SM5713=y
CONFIG_MUIC_BCD_RESCAN=y
# CONFIG_MUIC_CORE is not set
# CONFIG_MUIC_HV is not set
# CONFIG_MUIC_MANAGER is not set
CONFIG_MUIC_SM5713=y
# CONFIG_MUIC_SM5713_BC1_2_CERTI is not set
# CONFIG_MUIC_SUPPORT_POWERMETER is not set
# CONFIG_MUIC_SUPPORT_PRSWAP is not set
# CONFIG_MUIC_SUPPORT_VBUS_BOOST is not set
# CONFIG_MUIC_SYSFS is not set
# CONFIG_PDIC_PD30 is not set
CONFIG_PINCTRL_CS47L15=y
CONFIG_PINCTRL_MADERA=y
CONFIG_PLATFORM_EXYNOS=y
CONFIG_REGULATOR_ARIZONA_LDO1=y
CONFIG_REGULATOR_ARIZONA_MICSUPP=y
# CONFIG_SAMSUNG_NFC is not set
# CONFIG_SAMSUNG_SECURE_IOVA is not set
CONFIG_SCSC_WLAN_RX_NAPI=y
# CONFIG_SCSC_WLAN_RX_NAPI_GRO is not set
CONFIG_SCSC_WLAN_SET_PREFERRED_ANTENNA=y
# CONFIG_SCSC_WLAN_SINGLE_ANTENNA is not set
CONFIG_SEC_AOT=y
# CONFIG_SEC_SIPC_MODEM_IF is not set
CONFIG_SEC_SND_ADAPTATION=y
# CONFIG_SEC_SND_SYNCHRONIZED_IPC_RICHTEK is not set
# CONFIG_SEC_VIBRATOR is not set
CONFIG_SENSORS_A96T3X6=y
CONFIG_SENSORS_A96T3X6_2CH=y
# CONFIG_SENSORS_A96T3X6_A51 is not set
CONFIG_SENSORS_A96T3X6_CRC_CHECK=y
# CONFIG_SENSORS_A96T3X6_M31 is not set
# CONFIG_SENSORS_A96T3X6_SUB is not set
CONFIG_SENSORS_A96T3X6_TABA4XL=y
CONFIG_SENSORS_A96T3X6_WIFI=y
CONFIG_SENSORS_A96T3X6_WIFI_2CH=y
# CONFIG_SENSORS_FINGERPRINT is not set
# CONFIG_SENSORS_ISG5320A is not set
# CONFIG_SENSORS_ISG5320A_SUB is not set
# CONFIG_SENSORS_SSP_A51 is not set
CONFIG_SENSORS_SSP_ACCELOMETER_ICM42605M=y
# CONFIG_SENSORS_SSP_ACCELOMETER_LSM6DSL is not set
CONFIG_SENSORS_SSP_CAMERALIGHT_FOR_TAB=y
CONFIG_SENSORS_SSP_GTA4XL=y
CONFIG_SENSORS_SSP_GYROSCOPE_ICM42605M=y
# CONFIG_SENSORS_SSP_GYROSCOPE_LSM6DSL is not set
CONFIG_SENSORS_SSP_LIGHT_CM32183=y
# CONFIG_SENSORS_SSP_LIGHT_STK3X6X is not set
# CONFIG_SENSORS_SSP_LIGHT_TCS3701 is not set
CONFIG_SENSORS_SSP_LIGHT_VEML3328=y
# CONFIG_SENSORS_SSP_M21 is not set
# CONFIG_SENSORS_SSP_M31 is not set
# CONFIG_SENSORS_SSP_M31S is not set
# CONFIG_SENSORS_SSP_MAGNETIC is not set
# CONFIG_SENSORS_SSP_MAGNETIC_AK09918C is not set
# CONFIG_SENSORS_SSP_MAGNETIC_MMC5603 is not set
# CONFIG_SENSORS_SSP_PROXIMITY is not set
# CONFIG_SENSORS_SSP_PROXIMITY_STK3X3X is not set
# CONFIG_SENSORS_SX9360 is not set
# CONFIG_SENSORS_SX9360_SUB is not set
CONFIG_SENSOR_A96T3X6_LDO_SHARE=y
# CONFIG_SHM_IPC is not set
CONFIG_SM5713_FACTORY_MODE=y
# CONFIG_SND_RICHTEK_SPM is not set
# CONFIG_SND_SOC_CS35L41 is not set
CONFIG_SND_SOC_CS47L15=y
CONFIG_SND_SOC_DBMDX=y
CONFIG_SND_SOC_DBMDX_SND_CAPTURE=y
CONFIG_SND_SOC_DBMDX_VA_NS_SUPPORT=y
CONFIG_SND_SOC_MADERA=y
# CONFIG_SND_SOC_RT5510 is not set
CONFIG_SND_SOC_SAMSUNG_VOGUE_CS47L15=y
CONFIG_SND_SOC_TAS2562=y
CONFIG_SND_SOC_TFA9872=y
CONFIG_SND_SOC_WM_ADSP=y
# CONFIG_STEP_CHARGING is not set
CONFIG_SUPPORT_HV_CTRL=y
# CONFIG_SUPPORT_POC_FLASH is not set
# CONFIG_SWITCH_MADERA is not set
CONFIG_TAS2562_CODEC=y
CONFIG_TAS2562_REGMAP=y
CONFIG_TAS25XX_ALGO=y
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET=y
CONFIG_TOUCHSCREEN_HIMAX_COMMON=y
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
# CONFIG_TOUCHSCREEN_HIMAX_EMBEDDED_FIRMWARE is not set
# CONFIG_TOUCHSCREEN_HIMAX_I2C is not set
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102=y
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83103 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83106 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83111 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83113 is not set
# CONFIG_TOUCHSCREEN_HIMAX_IC_HX83191 is not set
CONFIG_TOUCHSCREEN_HIMAX_INCELL_CORE=y
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=y
# CONFIG_TOUCHSCREEN_HIMAX_ONCELL is not set
CONFIG_TOUCHSCREEN_HIMAX_SPI=y
# CONFIG_TOUCHSCREEN_MELFAS_MSS100 is not set
# CONFIG_VIBRATOR_S2MU106 is not set
# CONFIG_VIBRATOR_S2MU106_VOLTAGE_3P3 is not set
CONFIG_WACOM_HALL=y
