CONFIG_BATTERY_SAMSUNG_DATA_FILE="default_battery_data.h"
CONFIG_BATTERY_SAMSUNG_LEGO_STYLE=y
# CONFIG_BATTERY_SAMSUNG_V2 is not set
# CONFIG_BOOT_DEVICE_SPI is not set
# CONFIG_CAMERA_AAS_V51 is not set
# CONFIG_CAMERA_ACT_DW9808_OBJ is not set
CONFIG_CAMERA_ACT_DW9817_OBJ=y
# CONFIG_CAMERA_ATS_V04 is not set
CONFIG_CAMERA_CIS_3L6_OBJ=y
# CONFIG_CAMERA_CIS_4HA_OBJ is not set
# CONFIG_CAMERA_CIS_5E9_OBJ is not set
CONFIG_CAMERA_CIS_GC5035_OBJ=y
# CONFIG_CAMERA_CIS_GM2_OBJ is not set
# CONFIG_CAMERA_CIS_GW1_OBJ is not set
# CONFIG_CAMERA_CIS_HI1336_OBJ is not set
# CONFIG_CAMERA_CIS_HI2021Q_OBJ is not set
# CONFIG_CAMERA_CIS_IMX582_OBJ is not set
CONFIG_CAMERA_CIS_IMX616_OBJ=y
CONFIG_CAMERA_CIS_IMX682_OBJ=y
CONFIG_CAMERA_FLASH_S2MU106_OBJ=y
# CONFIG_CAMERA_FLASH_SM5713_OBJ is not set
# CONFIG_CAMERA_FXT_V41 is not set
# CONFIG_CAMERA_MMS_V21 is not set
# CONFIG_CAMERA_MMS_V31 is not set
CONFIG_CAMERA_MMS_V31S=y
CONFIG_CCIC_AUTO_PPS=y
CONFIG_CCIC_S2MU106=y
# CONFIG_CCIC_SM5713 is not set
# CONFIG_CHARGER_PCA9468 is not set
CONFIG_CHARGER_S2MU106=y
CONFIG_CHARGER_SM5440=y
# CONFIG_CHARGER_SM5713 is not set
# CONFIG_CHARGING_VZWCONCEPT is not set
CONFIG_CP_ETDAC_OTP_WA=y
CONFIG_CP_RAM_LOGGING=y
CONFIG_CP_SECURE_BOOT=y
# CONFIG_CP_UART_NOTI is not set
# CONFIG_CP_ZEROCOPY is not set
# CONFIG_DC_VIBRATOR is not set
# CONFIG_DEBUG_PKTLOG is not set
CONFIG_DIRECT_CHARGING=y
# CONFIG_DISABLE_SAVE_CAPACITY_MAX is not set
CONFIG_DISPLAY_USE_INFO=y
# CONFIG_DUAL_BATTERY is not set
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
# CONFIG_ENG_BATTERY_CONCEPT is not set
# CONFIG_EPEN_WACOM_W9019 is not set
# CONFIG_ESE_COFFEE is not set
# CONFIG_ESE_FACTORY_ONLY is not set
# CONFIG_ESE_P3_LSI is not set
# CONFIG_ESE_SECURE is not set
CONFIG_ESE_SECURE_GPIO=""
CONFIG_ESE_SECURE_SPI_PORT=99
CONFIG_ESE_SECURE_USI_MODE=99
# CONFIG_EXTCON is not set
# CONFIG_EXYNOS_DECON_LCD_EA8076_M31 is not set
CONFIG_EXYNOS_DECON_LCD_EA8076_M31S=y
# CONFIG_EXYNOS_DECON_LCD_HX83102E_GTA4XL is not set
# CONFIG_EXYNOS_DECON_LCD_S6E3FA9_A51 is not set
CONFIG_EXYNOS_DECON_MDNIE=y
CONFIG_EXYNOS_DOZE=y
CONFIG_EXYNOS_HDR_TUNABLE_TONEMAPPING=y
CONFIG_EXYNOS_HIBERNATION=y
CONFIG_FUELGAUGE_S2MU106=y
# CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM is not set
# CONFIG_FUELGAUGE_SM5713 is not set
# CONFIG_GPIO_DS_DETECT is not set
# CONFIG_GPS_BCM4753 is not set
# CONFIG_GPS_BCMxxxxx is not set
# CONFIG_HICCUP_CHARGER is not set
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
# CONFIG_HW_REV_DETECT is not set
# CONFIG_INPUT_WACOM is not set
# CONFIG_ISDBT is not set
# CONFIG_ISDB_CHARGING_CONTROL is not set
CONFIG_LEDS_S2MU106_FLASH=y
# CONFIG_LEDS_SM5713 is not set
# CONFIG_LIMIT_CHARGING_DURING_CALL is not set
# CONFIG_LINK_CONTROL_MSG_IOSM is not set
# CONFIG_LINK_DEVICE_C2C is not set
# CONFIG_LINK_DEVICE_HSIC is not set
# CONFIG_LINK_DEVICE_LLI is not set
# CONFIG_LINK_DEVICE_MEMORY is not set
CONFIG_LINK_DEVICE_NAPI=y
CONFIG_LINK_DEVICE_SHMEM=y
# CONFIG_LINK_DEVICE_WITH_SBD_ARCH is not set
# CONFIG_LINK_POWER_MANAGEMENT is not set
# CONFIG_LTE_MODEM_XMM7260 is not set
# CONFIG_MACH_KOR_EARJACK_WR is not set
# CONFIG_MFD_CS35L41 is not set
# CONFIG_MFD_CS35L41_I2C is not set
# CONFIG_MFD_MADERA_SPI is not set
CONFIG_MFD_S2MU106=y
# CONFIG_MFD_SM5713 is not set
CONFIG_MODEM_IF_NET_GRO=y
CONFIG_MODEM_IF_QOS=y
# CONFIG_MUIC_BCD_RESCAN is not set
CONFIG_MUIC_CORE=y
CONFIG_MUIC_HV=y
# CONFIG_MUIC_HV_12V is not set
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_S2MU106=y
CONFIG_MUIC_S2MU106_RID=y
# CONFIG_MUIC_SM5713 is not set
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_SYSFS=y
# CONFIG_NFC_P61 is not set
# CONFIG_NFC_PN533_I2C is not set
# CONFIG_NFC_PN533_USB is not set
# CONFIG_NFC_PN547 is not set
# CONFIG_OTG_OVERCURRENT_BY_CHGIN is not set
CONFIG_PDIC_PD30=y
CONFIG_PM_S2MU106=y
# CONFIG_PREVENT_SOC_JUMP is not set
# CONFIG_PREVENT_USB_CONN_OVERHEAT is not set
# CONFIG_REGULATOR_ARIZONA_LDO1 is not set
# CONFIG_REGULATOR_ARIZONA_MICSUPP is not set
# CONFIG_S2MU106_TYPEC_WATER is not set
# CONFIG_SAMSUNG_BATTERY_ENG_TEST is not set
# CONFIG_SAMSUNG_BATTERY_FACTORY is not set
CONFIG_SAMSUNG_NFC=y
# CONFIG_SAMSUNG_SECURE_IOVA is not set
CONFIG_SBD_BOOTLOG=y
# CONFIG_SCSC_WLAN_RX_NAPI is not set
# CONFIG_SCSC_WLAN_SET_PREFERRED_ANTENNA is not set
CONFIG_SCSC_WLAN_SINGLE_ANTENNA=y
CONFIG_SEC_MODEM_SS310AP=y
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_SIPC_MODEM_IF=y
# CONFIG_SEC_SND_ADAPTATION is not set
CONFIG_SEC_SND_SYNCHRONIZED_IPC_RICHTEK=y
CONFIG_SEC_VIBRATOR=y
# CONFIG_SENSORS_A96T3X6 is not set
# CONFIG_SENSORS_A96T3X6_2CH is not set
# CONFIG_SENSORS_A96T3X6_A51 is not set
# CONFIG_SENSORS_A96T3X6_CRC_CHECK is not set
# CONFIG_SENSORS_A96T3X6_M31 is not set
# CONFIG_SENSORS_A96T3X6_SUB is not set
# CONFIG_SENSORS_A96T3X6_TABA4XL is not set
# CONFIG_SENSORS_A96T3X6_WIFI is not set
# CONFIG_SENSORS_A96T3X6_WIFI_2CH is not set
CONFIG_SENSORS_ET5XX=y
# CONFIG_SENSORS_ET7XX is not set
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FP_USI_NUMBER=18
CONFIG_SENSORS_ISG5320A=y
CONFIG_SENSORS_ISG5320A_SUB=y
# CONFIG_SENSORS_SSP_A51 is not set
CONFIG_SENSORS_SSP_ACCELOMETER_ICM42605M=y
# CONFIG_SENSORS_SSP_ACCELOMETER_LSM6DSL is not set
# CONFIG_SENSORS_SSP_CAMERALIGHT_FOR_TAB is not set
# CONFIG_SENSORS_SSP_GTA4XL is not set
CONFIG_SENSORS_SSP_GYROSCOPE_ICM42605M=y
# CONFIG_SENSORS_SSP_GYROSCOPE_LSM6DSL is not set
# CONFIG_SENSORS_SSP_LIGHT_CM32183 is not set
CONFIG_SENSORS_SSP_LIGHT_STK3X6X=y
# CONFIG_SENSORS_SSP_LIGHT_TCS3701 is not set
# CONFIG_SENSORS_SSP_LIGHT_VEML3328 is not set
# CONFIG_SENSORS_SSP_M21 is not set
# CONFIG_SENSORS_SSP_M31 is not set
CONFIG_SENSORS_SSP_M31S=y
CONFIG_SENSORS_SSP_MAGNETIC=y
# CONFIG_SENSORS_SSP_MAGNETIC_AK09918C is not set
CONFIG_SENSORS_SSP_MAGNETIC_MMC5603=y
# CONFIG_SENSORS_SSP_PROXIMITY is not set
# CONFIG_SENSORS_SSP_PROXIMITY_STK3X3X is not set
# CONFIG_SENSORS_SX9360 is not set
# CONFIG_SENSORS_SX9360_SUB is not set
# CONFIG_SENSOR_A96T3X6_LDO_SHARE is not set
CONFIG_SHM_IPC=y
CONFIG_SIOP_CHARGING_LIMIT_CURRENT=0
CONFIG_SLOW_CHARGING_CURRENT_STANDARD=1000
CONFIG_SND_RICHTEK_SPM=y
# CONFIG_SND_SOC_CS35L41 is not set
# CONFIG_SND_SOC_CS47L15 is not set
# CONFIG_SND_SOC_DBMDX is not set
CONFIG_SND_SOC_RT5510=y
# CONFIG_SND_SOC_SAMSUNG_VOGUE_CS47L15 is not set
# CONFIG_SND_SOC_TAS2562 is not set
# CONFIG_SND_SOC_TFA9872 is not set
CONFIG_STEP_CHARGING=y
# CONFIG_SUPPORT_HV_CTRL is not set
# CONFIG_SUPPORT_POC_FLASH is not set
# CONFIG_SWITCHING_S2ASL01 is not set
# CONFIG_TABLET_MODEL_CONCEPT is not set
# CONFIG_TOUCHSCREEN_HIMAX_CHIPSET is not set
CONFIG_TOUCHSCREEN_MELFAS_MSS100=y
# CONFIG_TOUCHSCREEN_MELFAS_MSS100_FOD_SUPPORT is not set
CONFIG_UART_SWITCH=y
CONFIG_UMTS_MODEM_SS310AP=y
# CONFIG_USE_POGO is not set
CONFIG_VIBRATOR_S2MU106=y
CONFIG_VIBRATOR_S2MU106_VOLTAGE_3P3=y
# CONFIG_WACOM_HALL is not set
